<div class="page-header">
  <%= link_to new_listing_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Listing
  <% end %>
  <h1>Explore Happy Hours</h1>
</div>

<th>
  <%= form_tag listings_path, method: :get do %>
  <%= autocomplete_field_tag 'restaurant_name', '',
      autocomplete_listing_restaurant_name_listings_path, :size => 15 %>
    <% end %>
</th>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable('restaurant_name') %></th>
        <th><%= sortable('menu_item') %></th>
        <th><%= sortable('price') %></th>
        <th><%= sortable('hours') %></th>
        <th><%= sortable('location') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @listings) do |t| %>
            <td><%= t.restaurant_name %></td>
            <td><%= t.menu_item %></td>
            <td><%= t.price %></td>
            <td><%= t.hours %></td>
            <td><%= t.location %></td>
            <td><%= link_to 'Show', t %></td>
        <td><%= link_to 'Edit', edit_listing_path(t) %></td>
        <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
